.FloatingCard{  
    width: 60%;
    position: absolute;
    z-index: 100;
    top: 12%;
    right: 20%;
    left: 20%;
    min-height: 40%;
    background-color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}
.FloatingCardInner{
flex-grow: 1;
width: 100%;
}