
.Background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}
.BackgroundTop{
    background-color: #80008093;
    height: 17%;
   
}
.BackgroundBottom{
    background-color: #dc9bf193;
    height:80%;

}
